@import "variables/fonts.scss";

#sticky.header-background{
  border-bottom: 1px solid black;
  background-color: #C4E2FF;
  // height: 75px;
  display: flex;
  align-items: center;
  position: sticky; top: 0;
  
  
}

.home-logo{
  height: 40px;
  width: 40px
}
// #navbar {
//   overflow: hidden;
  
// }


// .content {
//   padding: 16px;
// }

// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   padding-top: 60px;
// }

// .sticky + .content {
//   padding-top: 60px;
// }


.topnav-logged-out {
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72.5%;
  height: 75px;
  // padding: 0 300px;
  margin: 0 auto;
  // border-bottom: 1px solid black;
  background-color: #C4E2FF;
  // padding-right: 100px;
}

.header-name{
  display: flex;
  align-items: center;
  
}

.splash-home-logged-out{
  // width: 100%;
  background-color: #C4E2FF;
  // align-items: center;
  display: flex;
  justify-content: space-between;
  width: 65%;
  height: 68px;
  // padding: 0 20px;
  // margin: 0 auto;
  align-items: center;
  // position: fixed;
  // top: 0;
  margin-left: 290px;


  
  
  // justifycontent: space-between;

  a {
    // float: left;
    // color: red;
    text-align: center;
    // padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;

    &:hover{
      background-color: transparent;
      color: white;
      border-radius: 40pc;
    }
  }
}



.splash-home{
  background-color: none;
 
  box-shadow: 0 8px 6px -6px #bfbfbf;
}

.topnav-logged-out a {
  float: left;
  color: black;
  text-align: center;
  // padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-logged-out a:hover {
  background-color: transparent;
  color: white;
  border-radius: 40pc;
}

.topnav-logged-in a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  color: green
}

.topnav-logged-in a:hover {
  // background-color: rgb(38, 138, 55);
  // color: white;
  // border-radius: 40pc;
}

.topnav-logged-in {
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 60%;
  // height: 65px;
  // padding: 0 20px;
  // margin: 0 auto;
  padding-left: 285px;
  padding-right: 355px;
 
}

.nav-buttons-right-logged-in{
  // border: solid 1px red;
  display: flex;
  height: 40px;
  width: 200px;
  font-family: helvetica;
  justify-content: space-around;
  align-items: center;
}

.nav-buttons-right-logged-out {
  display: flex;
  font-size: 60px;
  justify-content: space-around;
  flex: .8;
  align-items: center;
}

a.shmedium-home-link {
  font-size: 32px;
  // right: 20px;
  align-items: center;
  font-weight: 400;
  // padding-left: 65px;
  // padding-right: 50px;
  padding-bottom: 12px;
  color: black
}

a.nav-link-login{
  font-size: 14px;
  align-items: center;
  font-family: helvetica
}

a.nav-link-signup{
  font-size: 14px;
  align-items: center;
  font-family: helvetica;
  background-color: black;
  color: white;
  border-radius: 70px;
  // height: 30px;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px
}

a.nav-words{
  font-size: 14px;
  align-items: center;
  font-family: helvetica
}

.blank{
  flex: 1 0 auto;
}

.login-write{
  align-items: center;
  border-radius: 70px;
  background-color: white;
  border:  1px solid green;
  width: 60px;
  font-size: 12px
}