
.home-index{
  // border: solid 1px red;
  font-size: 16px;
  // font-family: Arial, Helvetica, sans-serif;
  // background-color: red;
  // display: flex;
  // align-items: center;
  // width: 1200px;
  // margin: 0 auto;
}

.home-index-item{
  // border: solid 1px red;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 142px;
  padding: 50px;
  margin: 0 auto;
  // flex-direction: column;
  
}

a.home-index-item-title{
  // border: solid 1px red;
  border: solid 1px red;
  
}

.user-item-title{
  font-size: 20px;
  text-decoration: none;
  color: #292929;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  a{
    text-decoration: none;
  }
  
}

a.author{
  font-family: Helvetica;
}

.picture{
  display: flex;
  height: 135px;
  width: 200px;
  // margin: 500px;
  float: right;
}

.subtitle{
  color: #757575;
  font-size: 16px;
}

.bookmark-pic{
  &:hover{
    cursor: pointer;
  }
}

.home-stories{
  display: flex;
}

.column-stories{
  flex: 50%;
  width: 500px;
}

.column-picture-2{
  flex: 50%;
  float: right;
}

.date{
  font-size: 14px;
  color: #777777;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 5px;
  padding-right: 5px;
}

.title-wrapper{
  text-decoration: none;
}

.subtitle-subs{
  display: flex;
  // justify-content: space-evenly;
  font-size: 14px;
  color: #777777;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.genre{
  font-size: 14px;
  color: #777777;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 5px;
  padding-right: 5px;
  background-color: #cfcaca5b;
  border-radius: 40pc;
}

.who-wrote-this{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(27, 26, 26);
}