
.home-index{
  // border: solid 1px red;
  font-size: 16px;
  margin-left: 120px;
  padding-top: 5px
}

.home-index-item{
  // border: solid 1px red;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 63%;
  height: 142px;
  padding: 50px;
  margin: 0 auto;
  // flex-direction: column;
  
}

img.home-logo{
  padding-left: 15px;
  padding-right: 5px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  // background-color: blue;
  // min-width: 160px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  // padding: 12px 16px;
  // z-index: 1;
  height: 50px;
  
}

.dropdown:hover .dropdown-content {
  display: block;
 
}

a.home-index-item-title{
  // border: solid 1px red;
  border: solid 1px red;
  
}

.user-item-title{
  font-size: 22px;
  text-decoration: none;
  color: #292929;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 8px;
  a{
    text-decoration: none;
  }
  
}

a.author{
  font-family: Helvetica;
}

.picture{
  display: flex;

  // max-width: 200px;
  // max-height: 134px;
  // margin: 500px;
  // float: right;
  // align-items: center;
  // object-fit: contain;
  max-width: 200px;
  max-height: 134px;
  min-width: 200px;
  min-height: 134px;
  object-fit: contain;
  float: right;
}

.subtitle{
  color: #757575;
  font-size: 16px;
  padding-bottom: 5px;
}

.bookmark-pic{
  &:hover{
    cursor: pointer;
  }
}

.home-stories{
  display: flex;
}

.column-stories{
  flex: 50%;
  width: 500px;
  padding-bottom: 30px;
}

.column-picture-2{
  flex: 50%;
  float: right;
}

.date{
  font-size: 12px;
  color: #777777;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 5px;
  padding-right: 5px;
  padding-bottom: 10px
}

.title-wrapper{
  text-decoration: none;
}

.subtitle-subs{
  display: flex;
  // justify-content: space-evenly;
  font-size: 12px;
  color: #777777;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  
}

.subtitle-subs-index{
  display: flex;
  // justify-content: space-evenly;
  font-size: 12px;
  color: #777777;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  // margin-left: 56px
}

.genre{
  font-size: 12px;
  color: #777777;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 5px;
  padding-right: 5px;
  background-color: #cfcaca5b;
  border-radius: 40pc;
}

.who-wrote-this{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(27, 26, 26);
}

.discover{
  
  display: flex;
  margin-left: 50px;
}

.discover-text{
  color: rgba(0, 0, 0, 0.952);
  margin-top: 50px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  // font-weight: bold;
  
}

.discover-box{
  flex-direction: row;
  padding-top: 20px;
  // display: flex;
  width: 50%;
  align-items: center;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.discover-links{
  border: 1px solid rgba(230, 230, 230, 1);
  text-decoration: none;
  color: grey;
  margin-bottom: 8px;
  border-radius: 3px;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 16px;
  margin-right: 8px;
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
}

.discover-header{
  font-weight: bold;
  letter-spacing: 1px;
}

.see-all-topics{
  color: green;
  text-decoration: none;
  line-height: 20px;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 400;

}

.see-all-topics-box{
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
}

.bottom-site-links{
  // border: 1px solid #e6e6e6;
  text-decoration: none;
  color: grey;
  margin-bottom: 8px;
  border-radius: 3px;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  // padding-left: 16px;
  margin-right: 6px;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;

}

.bottom-site-links-box{
  width: 50%;
  word-spacing: 10px;
}