.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-popup {
  background-color: rgba(255,255,255,.97);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // background: rgba(0, 0, 0, 0.0);
  // z-index: 10;
}

.modal-child {
  background-color: white;
  width: 600px;
  height: 600px;
  margin: 5px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  // background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px silver;
}

.welcome-heading{
  // color: rgba(0,0,0,.84)!important;
  // fill: rgba(0,0,0,.84)!important;
  // font-size: 2em;
  // font-style: normal;
  // font-weight: 600;
  text-align: center;
  // width: 450px;
  // height: 36px;
  // margin: 0 175px 20px 175px;
}

.login-form {
  display: block;
  width: 500px;
  height: 35px;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color:rgb(61, 57, 57);
  fill: rgba(0,0,0,.56);
}
