.splashlogo{
  color: #1C8919;
}

.welcome-message{
  // border: solid 1px red;
  background-color: #C4E2FF;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  width: 65%;
  height: 400px;
  padding: 0 20px;
  // margin: 0 auto;
  // padding-right: 120px;
  // border-bottom: solid 1px black;
  margin-left: 285px;
}

.welcome-message-button{
  display: inline-block;
  margin: 15px auto 15px auto;
  background: white;
  color: black;
  height: 37px;
  line-height: 33px;
  // padding: 0 70px;
  font-size: 16px;
  border-radius: 20px;
  // text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: center;
  white-space: nowrap;
  letter-spacing: 0;
  // font-weight: 400;
  font-style: normal; 
  width: 132px;
  overflow: hidden;
  word-wrap:break-word;
}

.home-header{
  width: 100%;
  background-color: #C4E2FF;
  border-bottom: solid 1px black;
}

.splash-home{
  width: 100%;
}

.column {
  flex: 50%;
  // width: 500px
  // padding: 10px;
  // height: 325px;
  // border: 1px solid red;
  
  // font-size: 25px;
  // height: 300px; /* Should be removed. Only for demonstration */
}

.splash-header{
  // border: solid 1px red;
  // font-family: helvetica, arial;
  font-size: 70px;
  width: 550px;
  margin: 0 auto;
  // font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

.splash-sub-header{
  // border: solid 1px red;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  width: 550px;
  margin: 0 auto;
  color: rgb(56, 55, 55);
  
}

.trending-div{
  border-bottom: solid 1px rgb(221, 221, 221);
  height: 344px;
  padding-top: 35px;
  padding-bottom: 15px;
 
}

.trending-story-box{
  // border: solid 1px red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 65%;
  height: 90%;
  // padding: 0 20px;
  margin: 0 auto;
  font-size: 30px;
  // padding-top: 40px;
}

.trending-on-shmedium{
  letter-spacing: .5px;
  padding-left: 10px
}

.trending-numbers{
  margin-right: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #E6E6E6;
  font-weight: 900;
}

.number-height{
  line-height: 10px;
}
// .wut{
//   padding-left: 50px;
// }

.story{
  // border: solid 1px blue;
  height: 100px;
  width: 30%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-bottom: 100px;
  margin-left: 55px;
}

.column-picture{
  // height: 20px;
  flex: 50%;
  // padding: 10px;
  height: 325px;
  // border: 1px solid red;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.quote-pic {
  height: 400px;
  // justify-content: center;
  // display: flex;
  // border: solid 1px red;
  padding-left: 100px;

}
.logo-pic{
  height: 20px;
  padding-right: 10px;
}

.trending-on{
  // border: solid 1px red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 65%;
  // height: 100%;
  margin: 0 auto;
  font-size:12px;
  font-weight: bold;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
}

.trending-arrow{
  padding-right: 5px;
  
}

.trending-logo-author{
  display: flex;
  align-items: center;
}