.splashlogo{
  color: #1C8919;
}

.welcome-message{
  // border: solid 1px red;
  background-color: #C4E2FF;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  width: 65%;
  height: 400px;
  padding: 0 20px;
  margin: 0 auto;
  // padding-right: 120px;
  // border-bottom: solid 1px black;

}

.home-header{
  width: 100%;
  background-color: #C4E2FF;
  border-bottom: solid 1px black;
}

.splash-home{
  width: 100%;
}

.column {
  flex: 50%;
  // padding: 10px;
  height: 325px;
  // border: 1px solid red;
  
  // font-size: 25px;
  // height: 300px; /* Should be removed. Only for demonstration */
}

.splash-header{
  // border: solid 1px red;
  // font-family: helvetica, arial;
  font-size: 70px;
  width: 550px;
  margin: 0 auto;
}

.splash-sub-header{
  // border: solid 1px red;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  width: 550px;
  margin: 0 auto;
  color: rgb(56, 55, 55);
  
}

.trending-div{
  border-bottom: solid 1px rgb(221, 221, 221);
  height: 344px;
  padding-top: 40px;
  padding-bottom: 16px;
 
}

.trending-story-box{
  border: solid 1px red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 65%;
  height: 100%;
  // padding: 0 20px;
  margin: 0 auto;
  font-size: 30px;
}

.story{
  border: solid 1px blue;
  height: 100px;
  width: 30%;
}

.column-picture{
  // height: 20px;
  flex: 50%;
  // padding: 10px;
  height: 325px;
  // border: 1px solid red;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.quote-pic {
  height: 400px;
  // justify-content: center;
  // display: flex;
  // border: solid 1px red;
  padding-left: 100px;

}