.splashlogo{
  color: #1C8919;
}


.splash-header{
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1032px;
  height: 65px;
  padding: 0 20px;
  margin: 0 auto;
}

.splash-sub-header{
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1032px;
  height: 65px;
  padding: 0 20px;
  margin: 0 auto;
}