

.story-show-item{
  // border: solid 1px red;
  // background-color: white;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // justify-content: space-between;
  width: 45%;
  height: 200%;
  padding: 0 20px;
  margin: 0 auto;
  line-height: 2.0;
}

.story-show-links{
  // border: solid 1px red;
  display: flex;
  font-size: 12px;
  padding: 20px;

}

.submit-button{
  background-color: transparent;
  border: none;
  font-size: 14px;
  padding-top: 20px;
  &:hover{
    cursor: pointer;
  }
  color: green;
  font-family: helvetica;
  text-decoration: none;
}

.story-info{
  align-items: left;
  width: 750px;
}

.story-button{
  background-color: transparent;
  border: none;
  font-size: 14px;
  &:hover{
    cursor: pointer;
  }
  color: green;
  font-family: helvetica;
  text-decoration: none;
  align-items: center;
}

a.story-button{
  background-color: transparent;
  border: none;
  font-size: 14px;
  &:hover{
    cursor: pointer;
  }
  color: green;
  font-family: helvetica;
  text-decoration: none;
  display: flex;
}

.story-button-div{
  // border: solid 1px red;
  width: 50%;
  display: flex;
  height: 10%;
  justify-content: space-between;
  color: white
}

.story-title{
  font-size: 52px;
  // margin: 100px;
  // align-items: center;
  // justify-content: center;
  display: flex;
  width: 800px;
  color: #292929;
  line-height: 1.2;
}

a.author{
  text-decoration: none;
  color: green;
}

.story-body{
  font-size: 22px;
  color: #323232;
  width: 750px;
  // padding-bottom: 50px;
}

.show-item-image{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  // max-height: 700px;
}

.show-picture{
//   // max-width: 750px;
  max-width: 100%;
  height: auto;
//   max-width: 200px;
//   max-height: 134px;
//   object-fit: contain;
}

.story-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3D3C3A;
  font-size: 52px;
}

.buffer{
  margin: 100px;
}

.story-show-subtitle{
  font-size: 22px;
  color: #6D6B69;
  font-family: Helvetica, arial,;
}

.login-to-post{

}

.story-show-story-info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.heart{
  padding-left: 30px;
  
}

.heart-background{
  background: rgb(189, 189, 189);
  cursor: pointer
}

.story-show-subtitle-links{
  padding-left: 455px;
  cursor: pointer;
}

.story-show-footer{
  // height: 250px;

  background-color: #191919;
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
} 

.story-show-footer-content{
  display: flex;
  justify-content: center;
  
  height: 200px;
  // border-bottom: 1px solid #BABABA;
  margin-left: 64px;
  margin-right: 64px;
}

.story-show-footer-1{
  color:#FAFAFA;
  padding-left: 250px;
  padding-right: 250px;
  
  
}
.story-show-footer-3{
  color: #FAFAFA;
  display: flex;
  
}

.font{
  font-size: 20px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  padding-bottom: 15px;
  width: 50%;
  flex: 1
  
}

.font2{
  font-size: 14px;
  color: #BABABA;
  font-family: "Helvetica Neue";
  flex: 1;
  padding-right: 45px

}

.story-show-footer-4{
  display: flex
}

.border-bottom{
  border-bottom: 1px solid grey;
  padding-bottom: 50px;
}



.shmedium-home-link-footer{
  display: flex;
  align-items: center;
}

a.shmedium-home-link-footer {
  font-size: 32px;
  // right: 20px;
  align-items: center;
  font-weight: 400;
  // padding-left: 65px;
  // padding-right: 50px;
  // padding-bottom: 12px;
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: -2px;
  padding-left: 314px;
}

.shmedium-footer-about{
  color: white;
  font-family: "Helvetica Neue";
  flex: 1;
  padding-right: 10px
}

.shmedium-footer-about-box{
  display: flex;
  padding-left: 400px;
  position: absolute;
  right: 0;
  padding-right: 325px;

}