

.story-show-item{
  // border: solid 1px red;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  // justify-content: space-between;
  width: 800px;
  height: 200%;
  padding: 0 20px;
  margin: 0 auto;
  line-height: 2.0;
}

.story-show-links{
  // border: solid 1px red;
  display: flex;
  font-size: 12px;
  padding: 20px;

}

.submit-button{
  background-color: transparent;
  border: none;
  font-size: 14px;
  &:hover{
    cursor: pointer;
  }
  color: green;
  font-family: helvetica;
  text-decoration: none;
}

.story-info{
  align-items: left;
  width: 750px;
}

.story-button{
  background-color: transparent;
  border: none;
  font-size: 14px;
  &:hover{
    cursor: pointer;
  }
  color: green;
  font-family: helvetica;
  text-decoration: none;
  align-items: center;
}

a.story-button{
  background-color: transparent;
  border: none;
  font-size: 14px;
  &:hover{
    cursor: pointer;
  }
  color: green;
  font-family: helvetica;
  text-decoration: none;
  display: flex;
}

.story-button-div{
  // border: solid 1px red;
  width: 50%;
  display: flex;
  height: 10%;
  justify-content: space-between;
}

.story-title{
  font-size: 48px;
  // margin: 100px;
  // align-items: center;
  // justify-content: center;
  display: flex;
  width: 800px;
  color: #292929;
  line-height: 1.2;
}

a.author{
  text-decoration: none;
  color: green;
}

.story-body{
  font-size: 24px;
  color: #292929;
  width: 750px;
}

.show-item-image{
  display: flex;
  justify-content: center;
  // max-height: 700px;
}

.show-picture{
  max-width: 750px;
}

.story-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3D3C3A;
  font-size: 46px;
}

.buffer{
  margin: 100px;
}

.story-show-subtitle{
  font-size: 22px;
  color: #6D6B69;
  font-family: Helvetica, arial,;
}

